{% extends 'base.html' %}

{% block title %}Agregar Producto{% endblock %}

{% block header_title %}Agregar Producto{% endblock %}

{% block content %}
    <h2>Agregar Producto</h2>
    <form method="POST">
        {% csrf_token %}
        
        <h3>Crear/Seleccionar Proveedor</h3>
        {{ form_proveedor.as_p }}
        
        <h3>Detalles del Producto</h3>
        {{ form_producto.as_p }}
        
        <button type="submit">Agregar Producto</button>
    </form>
{% endblock %}
