{% extends 'base.html' %}

{% block title %}Productos - Sistema de Compras{% endblock %}

{% block header_title %}Productos{% endblock %}

{% block content %}
    <h2>Bienvenido a la sección de productos</h2>
    <a href="{% url 'agregar_producto' %}">Agregar Producto</a></p>
  
    <a href="{% url 'listar_productos' %}">Ver todos los productos</a></p>

    <a href="{% url 'listar_proveedores' %}">Agregar Proveedor</a></p>

    <a href="{% url 'listar_proveedores' %}">Ver todos los proveedores</a></p>

    <a href="{% url 'buscar_productos_por_proveedor' %}">Buscar productos por proveedor</a></p>

    <a href="{% url 'buscar_proveedores_por_producto' %}">Buscar proveedores por producto</a></p>

{% endblock %}

 
    