{% extends 'base.html' %}

{% block content %}
    <h1>Sobre Nosotros</h1>
    <p>Bienvenido a la página del proyecto. Aquí puedes conocer al desarrollador:</p>
    <ul>
        <li><strong>Juanse:</strong> Único participante de este proyecto. Estudiante en Coderhouse, cursando la Diplomatura de Data Science en la Comisión 71935. Actualmente enfocado en Python - Carreras Intensivas.</li>
    </ul>

    <h2>Sobre el Proyecto</h2>
    <p>Este proyecto busca convertirse en una plataforma donde proveedores, empresas y comerciantes puedan ofrecer sus productos y servicios a potenciales clientes. Aunque actualmente es una versión básica, cuenta con bases sólidas y está inspirada en plataformas existentes de mayor alcance.</p>

    <h2>Objetivo</h2>
    <p>El propósito de este desarrollo es aplicar todos los conocimientos adquiridos durante la cursada de Python, integrando conceptos clave en el desarrollo web.</p>

    <h2>Próximas Mejoras</h2>
    <p>En futuras versiones, se planea:</p>
    <ul>
        <li>Implementar un sistema de autenticación para usuarios.</li>
        <li>Permitir a los usuarios guardar productos en favoritos.</li>
        <li>Implementar la funcionalidad de compra de productos.</li>
        <li>Diferenciar el inicio de sesión entre usuarios y proveedores/empresarios.</li>
        <li>Agregar un panel de administración para gestionar publicaciones.</li>
        </ul>

{% endblock %}
