{% extends 'base.html' %}

{% block title %}Buscar Productos por Proveedor{% endblock %}

{% block header_title %}Buscar Productos por Proveedor{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="proveedor">Proveedor</label>
        <select name="proveedor">
            {% for proveedor in proveedores %}
                <option value="{{ proveedor.id }}">{{ proveedor.nombre_proveedor }}</option>
            {% endfor %}
        </select>
        <button type="submit">Buscar</button>
    </form>

    {% if productos %}
        <h3>Productos:</h3>
        <ul>
            {% for producto in productos %}
                <li>{{ producto.nombre_producto }}: {{ producto.descripcion }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
